<div class="banner">
  <h1>Welcome to the movies selection</h1>
</div>

<div class="container">
  <div class="row align-items-center">
    <% @lists.each do |list| %>
      <div class="col card-product m-3">
        <div class="card-product-infos">
          <h3> <%= link_to list.name, list_path(list) %> </h3>
        </div>
      </div>
    <% end %>
   </div>
</div>
