<h1>Create a Bookmark</h1>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, collection: Movie.all.order(:title) %>
    <%= f.input :comment, placeholder: "Enter a comment about the movie" %>
    <%= f.submit "Add movie", class: "btn btn-flat" %>
  <% end %>
