<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/lists">Movies Bookmarks</a>
    <div class="btn btn-link">
        <h2><%=link_to "Add New list", new_path %></h2>
    </div>

    </div>
  </div>
</nav>
